
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../static/CustomGoogleMapMarker.js"></script>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
    var myLatlng = new google.maps.LatLng(40.7128,-74.0059);

    var initMap = function() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatlng,
        zoom: 4,
        disableDefaultUI: true
      });

      /*
    	// Example standard marker
    	var marker = new google.maps.Marker({
    		position: myLatlng,
    		map: map,
    		title: 'Hello World!'
    	});
    	*/

      var overlay = new CustomMarker(
        myLatlng,
        map,
        {
          marker_id: '123',
          colour: 'Red'
        }
      );
    }
    </script>

  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu9RfAy5mXwh_U7WDoLnpdfJQwNmiIZTE&callback=initMap"
  async defer></script>
</html>
